<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sht.rental.ui.views.RentalPropertyView"
            id="com.sht.rental.ui.RentalPropertyView"
            name="Rental Property View"
            restorable="true">
      </view>
      <view
            class="com.sht.rental.ui.views.AgencyView"
            id="com.sht.rental.ui.views.AgencyView"
            name="AgencyView"
            restorable="true">
      </view>
   </extension>

</plugin>
