<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.sht.rental.ui.category"
            class="com.sht.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.sht.rental.ui.RentalPropertyView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.sht.rental.ui.category"
            class="com.sht.rental.ui.views.AgencyView"
            icon="icons/Agency.png"
            id="com.sht.rental.ui.views.AgencyView"
            name="%view.name.0"
            restorable="true">
      </view>
      <category
            id="com.sht.rental.ui.category"
            name="%category.name">
      </category>
      <view
            class="com.sht.rental.ui.views.CustomerPropertyView"
            id="com.sht.rental.ui.CustomerPropertyrView"
            name="Customer Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sht.rental.ui.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sht.rental.ui.perspective1"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sht.rental.ui.RentalPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sht.rental.ui.RentalColorsPreference"
            id="com.sht.rental.ui.RentalColorsPreference"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sht.rental.ui.getinfo"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sht.rental.ui.GetInformationsHandler"
            commandId="com.sht.rental.ui.getinfo">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label">
            <command
                  commandId="com.sht.rental.ui.getinfo"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sht.rental.ui.views.AgencyView?after=additions">
         <command
               commandId="com.sht.rental.ui.getinfo"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.sht.rental.ui.getinfo"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
