<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.sht.rental.ui.category"
            class="com.sht.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.sht.rental.ui.RentalPropertyView"
            name="Rental Property View"
            restorable="true">
      </view>
      <view
            category="com.sht.rental.ui.category"
            class="com.sht.rental.ui.views.AgencyView"
            icon="icons/Agency.png"
            id="com.sht.rental.ui.views.AgencyView"
            name="AgencyView"
            restorable="true">
      </view>
      <category
            id="com.sht.rental.ui.category"
            name="Rental">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sht.rental.ui.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sht.rental.ui.perspective1"
            name="Rental">
      </perspective>
   </extension>

</plugin>
